In [ ]:
Detect the Type of Triangle
Problem Statement:
Given three sides of a triangle, determine its type. The program should classify the triangle as one of the following:

Equilateral Triangle – All three sides are equal.
Isosceles Triangle – Exactly two sides are equal.
Scalene Triangle – All three sides are different.
Not a Triangle – The given sides do not satisfy the triangle inequality theorem:
a+b>c,b+c>a,a+c>b
Input:
Three integers or floating-point numbers representing the sides of a triangle.

Output:
A string indicating the type of triangle or stating that the sides do not form a valid triangle.

Example Cases:
Example 1: Equilateral Triangle
Input: 3, 3, 3
Output: "Equilateral Triangle"

Example 2: Isosceles Triangle
Input: 5, 5, 8
Output: "Isosceles Triangle"

Example 3: Scalene Triangle
Input: 4, 5, 6
Output: "Scalene Triangle"

Example 4: Not a Triangle
Input: 1, 2, 3
Output: "Not a Triangle"

In [ ]:
Happy Number
Problem Statement:
A number is called a Happy Number if, by repeatedly replacing the number with the sum of the squares of its digits, we eventually reach 1. If the process results in a loop that does not include 1, the number is considered unhappy (or sad).

Steps to Determine a Happy Number:
Take a number n and replace it with the sum of the squares of its digits.
Repeat the process until:
The number becomes 1 (in which case it is happy).
The number starts repeating (forming a cycle), meaning it will never reach 1 (in which case it is unhappy).
Input:
An integer n (where n > 0).

Output:
A boolean or string indicating whether the number is happy or not.

Example 1: Happy Number
Input: 19
Process:
1
2
+
9
2
=
1
+
81
=
82
1
2
 +9
2
 =1+81=82 →
8
2
+
2
2
=
64
+
4
=
68
8
2
 +2
2
 =64+4=68 →
6
2
+
8
2
=
36
+
64
=
100
6
2
 +8
2
 =36+64=100 →
1
2
+
0
2
+
0
2
=
1
1
2
 +0
2
 +0
2
 =1 ✅ (Happy Number)

In [ ]:
def happy_or_not(no):
    no=str(no)
    sum=0
    for digit in no:
        sum+=int(digit)**2
    print(sum)
    if sum==1:
        return True
    elif sum<10:
        return False
    else:
        return happy_or_not(sum)

In [ ]:
if happy_or_not(82):
    print("Happy number")
else:
    print("Un-happy number")

68
100
1
Happy number

In [ ]:
#check number is part of fibonacci or not
#if so return true else false
#0 1 1 2 3 5 8 13.......
#input:8 True
#input:12 False
def fibo_part(no):
    f0,f1,=0,1
    if no==0 or no==1:
        return True
    while True:
        fn=f0+f1
        print("checking:",fn)
        if fn==no:
            return True
        elif fn>no:
            return False
        f0,f1=f1,fn

In [ ]:
fibo_part(7)

checking: 1
checking: 2
checking: 3
checking: 5
checking: 8

False

In [ ]:
'''
Python Lambda:function without any name/id
it is use a throw function
var=lambda <arg>: <operation>
'''
doubler=lambda a:a*2
multi=lambda a,b:a*b

In [ ]:
doubler(3.134)

6.268

In [ ]:
multi(10,20)

200

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
list2=[]
for fruit in fruits:
    if "a" in fruit:
        list2.append(fruit)

In [ ]:
print(list2)

['apple', 'banana', 'mango']

In [ ]:
[ expression for in <list/tuple/dict/set> codition]

In [ ]:
list_a=[fruit for fruit in fruits if "a" in fruit]

In [ ]:
list_a

['apple', 'banana', 'mango']

In [ ]:
list_1=[1,2,3,4,5,6,7,8,9]
list_even=[item for item in list_1 if item%2==0]
list_odd=[item for item in list_1 if item%2==1]

In [ ]:
list_1=[i for i in range(1,21,2)]

In [ ]:
list_1

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
the_list=[11,42,99,66,55,33,77,66,22,45,67]
#use minimum code to generate list with numbers < AVG
new_list=[i for i in the_list if i<sum(the_list)/len(the_list)]
print(new_list)

[11, 42, 33, 22, 45]

In [ ]:
#scalar mutiplication by n
#i*list[]
list1=[1,2,3,4,5,6]
n=int(input("Enter n:"))
list2=[i*n for i in list1]
#list1*2--->[2,4,6,8,10,12]
print(list2)

Enter n:2
[2, 4, 6, 8, 10, 12]

In [ ]:
list1=[1,2,3,4,5,6]
list2=[2,4,6,8,10,12]
#mutiply both
mutiplied_list=[a*b for a,b in zip(list1,list2)]

In [ ]:
mutiplied_list

[2, 8, 18, 32, 50, 72]

In [ ]:
indian_names = ["Aarav", "Vihaan", "Ishaan", "Kabir", "Advait",
                "Ananya", "Siya", "Myra", "Tanvi", "Riya"]
print([name.upper() for name in indian_names])

['AARAV', 'VIHAAN', 'ISHAAN', 'KABIR', 'ADVAIT', 'ANANYA', 'SIYA', 'MYRA', 'TANVI', 'RIYA']

In [ ]:
.join():ony works on string core type list/tuple/set/dict but iff they have string

In [ ]:
"seprator".join(sequence)

In [ ]:
list1=['a','m','a','r']
print("".join(list1))

amar

In [ ]:
set1={"hi","hukku","aa","bbb"}
print("".join(set1))

hukkubbbaahi

In [ ]:
dict1={"one":1,"two":2,"three":3}
print("-".join(dict1))#only keys

one-two-three

In [ ]:
list1=['a','m','a','r']
print("--------".join(list1))

a--------m--------a--------r

In [ ]:
list2=[1,2,3,4,5,6]
print("".join([str(item) for item in list2]))

123456

In [ ]:
#map(function,sequence)
#apply function on each item of sequence
s=['1','2','3','4']
s_int=list(map(int,s))
print(s_int)

[1, 2, 3, 4]

In [ ]:
def my_fun(data):
    return f"Accessed by my_fun:{data}"

'Accessed by my_fun:10'

In [ ]:
data=list(map(my_fun,s_int))
print(data)

['Accessed by my_fun:1', 'Accessed by my_fun:2', 'Accessed by my_fun:3', 'Accessed by my_fun:4']

In [ ]:
s_int

[1, 2, 3, 4]

In [ ]:
s_list2=list(map(lambda x:x*2,s_int))

In [ ]:
s_list2

[2, 4, 6, 8]

In [ ]:
l1=[1,2,3,4]
l2=[10,20,30,40]
adder=lambda a,b:a+b
print(adder(l1,l2))
print(list(map(lambda a,b:a+b,l1,l2)))

[1, 2, 3, 4, 10, 20, 30, 40]
[11, 22, 33, 44]